flows/NodeRedTesterLoadStep3.json
[
    {
        "id": "3aa3e7b2.dbcaa8",
        "type": "tab",
        "label": "Http Simu load tester full",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d28202cb.27dda",
        "type": "inject",
        "z": "3aa3e7b2.dbcaa8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "e21f64b7.ca646"
            ]
        ]
    },
    {
        "id": "39098dd1.53e212",
        "type": "http request",
        "z": "3aa3e7b2.dbcaa8",
        "name": "Send request to /sinus",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://sinus.mvcbasu9.apivalley.org/sinus?angle={{{query}}}&format=json",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 580,
        "y": 400,
        "wires": [
            [
                "204f18d2.7144a8",
                "cf0f81aa.deecc8"
            ]
        ]
    },
    {
        "id": "d436c03d.8d5058",
        "type": "function",
        "z": "3aa3e7b2.dbcaa8",
        "name": "Prepare query",
        "func": "msg.query = msg.af_context.temp;\nmsg.af_context.temp = msg.af_context.temp + 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "39098dd1.53e212"
            ]
        ]
    },
    {
        "id": "d5cbd82b.3b1b88",
        "type": "apiflows wire-in",
        "z": "3aa3e7b2.dbcaa8",
        "name": "wire-in",
        "pin_name": "INIT",
        "simulation_id": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "434057f3.95ade"
            ],
            [],
            []
        ]
    },
    {
        "id": "605dc521.791fcc",
        "type": "apiflows wire-out",
        "z": "3aa3e7b2.dbcaa8",
        "name": "wire-out",
        "target_flow_name": "",
        "target_pin_name": "CONTINUE",
        "grouped_by": "",
        "x": 820,
        "y": 540,
        "wires": []
    },
    {
        "id": "b2bdc44c.0846a8",
        "type": "apiflows wire-in",
        "z": "3aa3e7b2.dbcaa8",
        "name": "wire-in",
        "pin_name": "CONTINUE",
        "simulation_id": "",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "d436c03d.8d5058"
            ],
            [],
            []
        ]
    },
    {
        "id": "434057f3.95ade",
        "type": "function",
        "z": "3aa3e7b2.dbcaa8",
        "name": "Initial event",
        "func": "msg.af_context.temp = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "297f2d74.2d20aa"
            ]
        ]
    },
    {
        "id": "b41cd36c.671348",
        "type": "delay",
        "z": "3aa3e7b2.dbcaa8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 540,
        "wires": [
            [
                "605dc521.791fcc"
            ]
        ]
    },
    {
        "id": "6881291c.dc8e4",
        "type": "apiflows metric",
        "z": "3aa3e7b2.dbcaa8",
        "name": "sinusresults",
        "metric_type": "COUNTER",
        "value": "1",
        "buckets": "true",
        "percentiles": "true",
        "x": 310,
        "y": 540,
        "wires": [
            [
                "2bac5a33.ebdc5e"
            ]
        ]
    },
    {
        "id": "204f18d2.7144a8",
        "type": "function",
        "z": "3aa3e7b2.dbcaa8",
        "name": "Validate response",
        "func": "msg.result = JSON.parse(msg.payload);\nmsg.af_contextid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 400,
        "wires": [
            [
                "369ae461.6babdc"
            ]
        ]
    },
    {
        "id": "2bac5a33.ebdc5e",
        "type": "apiflows context",
        "z": "3aa3e7b2.dbcaa8",
        "name": "context",
        "operation": "SET",
        "x": 480,
        "y": 540,
        "wires": [
            [
                "b41cd36c.671348"
            ],
            []
        ]
    },
    {
        "id": "e21f64b7.ca646",
        "type": "function",
        "z": "3aa3e7b2.dbcaa8",
        "name": "",
        "func": "msg.af_context = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "434057f3.95ade"
            ]
        ]
    },
    {
        "id": "cf0f81aa.deecc8",
        "type": "debug",
        "z": "3aa3e7b2.dbcaa8",
        "name": "Sinus",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "369ae461.6babdc",
        "type": "link out",
        "z": "3aa3e7b2.dbcaa8",
        "name": "Post execution",
        "links": [
            "b5511a7b.c6ef2"
        ],
        "x": 1020,
        "y": 400,
        "wires": [],
        "l": true
    },
    {
        "id": "297f2d74.2d20aa",
        "type": "link out",
        "z": "3aa3e7b2.dbcaa8",
        "name": "Start query",
        "links": [
            "252ab902.b3b49e"
        ],
        "x": 630,
        "y": 240,
        "wires": [],
        "l": true
    },
    {
        "id": "252ab902.b3b49e",
        "type": "link in",
        "z": "3aa3e7b2.dbcaa8",
        "name": "Start query",
        "links": [
            "297f2d74.2d20aa"
        ],
        "x": 225,
        "y": 340,
        "wires": [
            [
                "d436c03d.8d5058"
            ]
        ],
        "l": true
    },
    {
        "id": "b5511a7b.c6ef2",
        "type": "link in",
        "z": "3aa3e7b2.dbcaa8",
        "name": "Post execution",
        "links": [
            "369ae461.6babdc"
        ],
        "x": 120,
        "y": 540,
        "wires": [
            [
                "6881291c.dc8e4"
            ]
        ],
        "l": true
    }
]