flows/NodeRedTesterLoadStep1.json
[
    {
        "id": "8bc357e2.860d5",
        "type": "tab",
        "label": "Http Simu load tester step 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7db244ae.8e8824",
        "type": "inject",
        "z": "8bc357e2.860d5",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "3c5e550e.2eacba"
            ]
        ]
    },
    {
        "id": "4bc38c4c.e5b574",
        "type": "http request",
        "z": "8bc357e2.860d5",
        "name": "Send request to /sinus",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://sinus.mvcbasu9.apivalley.org/sinus?angle={{{query}}}&format=json",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 580,
        "y": 360,
        "wires": [
            [
                "17e062ee.10cd35",
                "b6d46dc4.0446e8"
            ]
        ]
    },
    {
        "id": "27ee541a.1e2b74",
        "type": "function",
        "z": "8bc357e2.860d5",
        "name": "Prepare query",
        "func": "msg.query = msg.af_context.temp;\nmsg.af_context.temp = msg.af_context.temp + 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "4bc38c4c.e5b574"
            ]
        ]
    },
    {
        "id": "7bcb355.adf094c",
        "type": "apiflows wire-in",
        "z": "8bc357e2.860d5",
        "name": "wire-in",
        "pin_name": "INIT",
        "simulation_id": "",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "f215cb30.1ef08"
            ],
            [],
            []
        ]
    },
    {
        "id": "f215cb30.1ef08",
        "type": "function",
        "z": "8bc357e2.860d5",
        "name": "Initial event",
        "func": "msg.af_context.temp = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "f995daf3.ad215"
            ]
        ]
    },
    {
        "id": "17e062ee.10cd35",
        "type": "function",
        "z": "8bc357e2.860d5",
        "name": "Validate response",
        "func": "msg.result = JSON.parse(msg.payload);\nmsg.af_contextid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3c5e550e.2eacba",
        "type": "function",
        "z": "8bc357e2.860d5",
        "name": "",
        "func": "msg.af_context = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "f215cb30.1ef08"
            ]
        ]
    },
    {
        "id": "b6d46dc4.0446e8",
        "type": "debug",
        "z": "8bc357e2.860d5",
        "name": "Sinus",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "f995daf3.ad215",
        "type": "link out",
        "z": "8bc357e2.860d5",
        "name": "Start query",
        "links": [
            "624d9d71.64dd84"
        ],
        "x": 630,
        "y": 200,
        "wires": [],
        "l": true
    },
    {
        "id": "624d9d71.64dd84",
        "type": "link in",
        "z": "8bc357e2.860d5",
        "name": "Start query",
        "links": [
            "f995daf3.ad215"
        ],
        "x": 180,
        "y": 360,
        "wires": [
            [
                "27ee541a.1e2b74"
            ]
        ],
        "l": true
    }
]