flows/NodeRedTesterLoadStep2.json
[
    {
        "id": "39624e92.373a62",
        "type": "tab",
        "label": "Http Simu load tester step 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c6403312.3b3a08",
        "type": "inject",
        "z": "39624e92.373a62",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "b412d8f2.d9da2"
            ]
        ]
    },
    {
        "id": "c6f50fb8.952558",
        "type": "http request",
        "z": "39624e92.373a62",
        "name": "Send request to /sinus",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://sinus.mvcbasu9.apivalley.org/sinus?angle={{{query}}}&format=json",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 600,
        "y": 340,
        "wires": [
            [
                "573be577.4e8824",
                "19b3063a.705d7a"
            ]
        ]
    },
    {
        "id": "8dff1bbd.49eb08",
        "type": "function",
        "z": "39624e92.373a62",
        "name": "Prepare query",
        "func": "msg.query = msg.af_context.temp;\nmsg.af_context.temp = msg.af_context.temp + 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 340,
        "wires": [
            [
                "c6f50fb8.952558"
            ]
        ]
    },
    {
        "id": "e4b527fd.9464a",
        "type": "apiflows wire-in",
        "z": "39624e92.373a62",
        "name": "wire-in INIT",
        "pin_name": "INIT",
        "simulation_id": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "65c981a6.02f068"
            ],
            [],
            []
        ]
    },
    {
        "id": "b57e72a2.3f67a8",
        "type": "apiflows wire-out",
        "z": "39624e92.373a62",
        "name": "wire-out CONTINUE",
        "target_flow_name": "",
        "target_pin_name": "CONTINUE",
        "grouped_by": "",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "d04f79b9.957bb",
        "type": "apiflows wire-in",
        "z": "39624e92.373a62",
        "name": "wire-in CONTINUE",
        "pin_name": "CONTINUE",
        "simulation_id": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "8dff1bbd.49eb08"
            ],
            [],
            []
        ]
    },
    {
        "id": "65c981a6.02f068",
        "type": "function",
        "z": "39624e92.373a62",
        "name": "Initial event",
        "func": "msg.af_context.temp = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "7a404f7a.97ba08"
            ]
        ]
    },
    {
        "id": "abe64618.727a38",
        "type": "delay",
        "z": "39624e92.373a62",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 340,
        "y": 480,
        "wires": [
            [
                "b57e72a2.3f67a8"
            ]
        ]
    },
    {
        "id": "573be577.4e8824",
        "type": "function",
        "z": "39624e92.373a62",
        "name": "Validate response",
        "func": "msg.result = JSON.parse(msg.payload);\nmsg.af_contextid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 340,
        "wires": [
            [
                "f03a6eb1.c1f2d"
            ]
        ]
    },
    {
        "id": "b412d8f2.d9da2",
        "type": "function",
        "z": "39624e92.373a62",
        "name": "",
        "func": "msg.af_context = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "65c981a6.02f068"
            ]
        ]
    },
    {
        "id": "19b3063a.705d7a",
        "type": "debug",
        "z": "39624e92.373a62",
        "name": "Sinus",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "f03a6eb1.c1f2d",
        "type": "link out",
        "z": "39624e92.373a62",
        "name": "Post execution",
        "links": [
            "ae0a4817.1c09b8"
        ],
        "x": 1040,
        "y": 340,
        "wires": [],
        "l": true
    },
    {
        "id": "7a404f7a.97ba08",
        "type": "link out",
        "z": "39624e92.373a62",
        "name": "Start query",
        "links": [
            "e3855e0f.6f957"
        ],
        "x": 650,
        "y": 180,
        "wires": [],
        "l": true
    },
    {
        "id": "e3855e0f.6f957",
        "type": "link in",
        "z": "39624e92.373a62",
        "name": "Start query",
        "links": [
            "7a404f7a.97ba08"
        ],
        "x": 245,
        "y": 280,
        "wires": [
            [
                "8dff1bbd.49eb08"
            ]
        ],
        "l": true
    },
    {
        "id": "ae0a4817.1c09b8",
        "type": "link in",
        "z": "39624e92.373a62",
        "name": "Post execution",
        "links": [
            "f03a6eb1.c1f2d"
        ],
        "x": 140,
        "y": 480,
        "wires": [
            [
                "abe64618.727a38"
            ]
        ],
        "l": true
    }
]