flows/NodeRedBasicService.json
[
    {
        "id": "ec3d1ca9.0ece6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "38d17773.62fea",
        "type": "http response",
        "z": "ec3d1ca9.0ece6",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "7f65d889.73332",
        "type": "function",
        "z": "ec3d1ca9.0ece6",
        "name": "Compute function",
        "func": "msg.payload.sin = Math.sin(msg.payload.q);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "38d17773.62fea",
                "48f94f0f.3d15b8"
            ]
        ]
    },
    {
        "id": "8e42e640.cfe888",
        "type": "http in",
        "z": "ec3d1ca9.0ece6",
        "name": "",
        "url": "/sinus",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "7f65d889.73332"
            ]
        ]
    },
    {
        "id": "48f94f0f.3d15b8",
        "type": "debug",
        "z": "ec3d1ca9.0ece6",
        "name": "Sinus value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 200,
        "wires": []
    }
]