flows/NodeRedBasicTester.json
[
    {
        "id": "dc5ac755.2471",
        "type": "tab",
        "label": "Http Simu Step1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9ff10798.cac848",
        "type": "inject",
        "z": "dc5ac755.2471",
        "name": "Start request",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "dabc3dc9.dbc64"
            ]
        ]
    },
    {
        "id": "4237d569.b39904",
        "type": "http request",
        "z": "dc5ac755.2471",
        "name": "Send request to /sinus",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://sinus.mvcbasu9.apivalley.org/sinus?angle={{{query}}}&format=json",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 520,
        "y": 100,
        "wires": [
            [
                "7174da23.40575c",
                "77b007df.b7f618"
            ]
        ]
    },
    {
        "id": "7174da23.40575c",
        "type": "debug",
        "z": "dc5ac755.2471",
        "name": "Sinus",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "dabc3dc9.dbc64",
        "type": "function",
        "z": "dc5ac755.2471",
        "name": "Prepare query",
        "func": "msg.query = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "4237d569.b39904"
            ]
        ]
    },
    {
        "id": "77b007df.b7f618",
        "type": "function",
        "z": "dc5ac755.2471",
        "name": "Validate response",
        "func": "msg.result = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 100,
        "wires": [
            []
        ]
    }
]