flows/NodeRedBasicTester.json
[
    {
        "id": "45646f89.ff2368",
        "type": "tab",
        "label": "Http Simu Step1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b965515.02758b",
        "type": "inject",
        "z": "45646f89.ff2368",
        "name": "Start request",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "9c9ee8d8.819ee"
            ]
        ]
    },
    {
        "id": "b2ccf709.fdba3",
        "type": "http request",
        "z": "45646f89.ff2368",
        "name": "Send request to /sinus",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://sinus.mvcbasu9.apivalley.org/sinus?q={{{query}}}&format=json",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 520,
        "y": 100,
        "wires": [
            [
                "409d0421.33293c",
                "6c83b699.1573c"
            ]
        ]
    },
    {
        "id": "409d0421.33293c",
        "type": "debug",
        "z": "45646f89.ff2368",
        "name": "Sinus",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "9c9ee8d8.819ee",
        "type": "function",
        "z": "45646f89.ff2368",
        "name": "Prepare query",
        "func": "msg.query = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "b2ccf709.fdba3"
            ]
        ]
    },
    {
        "id": "6c83b699.1573c",
        "type": "function",
        "z": "45646f89.ff2368",
        "name": "Validate response",
        "func": "msg.result = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 100,
        "wires": [
            []
        ]
    }
]