flows/NodeRedTesterLoadStep2.json
[
    {
        "id": "6fddbfcb.20424",
        "type": "tab",
        "label": "Http Simu load tester step 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e08e90bb.b07bc8",
        "type": "http request",
        "z": "6fddbfcb.20424",
        "name": "Send request to /echows",
        "method": "GET",
        "ret": "txt",
        "paytoqs": true,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 610,
        "y": 340,
        "wires": [
            [
                "f163fe79.33d51",
                "12efe883.292dc7"
            ]
        ]
    },
    {
        "id": "2f59d854.0af6e",
        "type": "function",
        "z": "6fddbfcb.20424",
        "name": "Prepare query",
        "func": "\nmsg.payload = {\n    'echo_message': msg.af_context.echo_message,\n    'cpu_blocking_time': msg.af_context.cpu_blocking_time,\n};\n \nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nmsg.url = msg.af_context.echows_url ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 340,
        "wires": [
            [
                "e08e90bb.b07bc8"
            ]
        ]
    },
    {
        "id": "74f22737.6eef4",
        "type": "apiflows wire-out",
        "z": "6fddbfcb.20424",
        "name": "wire-out CONTINUE",
        "target_flow_name": "",
        "target_pin_name": "CONTINUE",
        "grouped_by": "",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "57fdb08a.50e748",
        "type": "apiflows wire-in",
        "z": "6fddbfcb.20424",
        "name": "wire-in  CONTINUE",
        "pin_name": "CONTINUE",
        "simulation_id": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "2f59d854.0af6e"
            ],
            [],
            []
        ]
    },
    {
        "id": "bc7f252b.3a4f",
        "type": "delay",
        "z": "6fddbfcb.20424",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 340,
        "y": 480,
        "wires": [
            [
                "74f22737.6eef4"
            ]
        ]
    },
    {
        "id": "f163fe79.33d51",
        "type": "function",
        "z": "6fddbfcb.20424",
        "name": "Validate response",
        "func": "msg.result = JSON.parse(msg.payload);\nmsg.af_contextid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 340,
        "wires": [
            [
                "9b4c8bb4.a701b8"
            ]
        ]
    },
    {
        "id": "12efe883.292dc7",
        "type": "debug",
        "z": "6fddbfcb.20424",
        "name": "echows",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 800,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b4c8bb4.a701b8",
        "type": "link out",
        "z": "6fddbfcb.20424",
        "name": "Post execution",
        "links": [
            "fd48e525.6ec158"
        ],
        "x": 1080,
        "y": 340,
        "wires": [],
        "l": true
    },
    {
        "id": "fd48e525.6ec158",
        "type": "link in",
        "z": "6fddbfcb.20424",
        "name": "Post execution",
        "links": [
            "9b4c8bb4.a701b8"
        ],
        "x": 140,
        "y": 480,
        "wires": [
            [
                "bc7f252b.3a4f"
            ]
        ],
        "l": true
    }
]
