flows/NodeRedBasicTester.json
[
    {
        "id": "565a9bae.1467cc",
        "type": "tab",
        "label": "Http Simu Step1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f9f74ea4.eb92f",
        "type": "inject",
        "z": "565a9bae.1467cc",
        "name": "Start request",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "a112f4df.2466a"
            ]
        ]
    },
    {
        "id": "8b6b0fe2.458c8",
        "type": "http request",
        "z": "565a9bae.1467cc",
        "name": "Send request to /echows",
        "method": "GET",
        "ret": "txt",
        "paytoqs": true,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "1f14c353.fa1d25",
                "cff0b3a9.0666c"
            ]
        ]
    },
    {
        "id": "1f14c353.fa1d25",
        "type": "debug",
        "z": "565a9bae.1467cc",
        "name": "echows response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "a112f4df.2466a",
        "type": "function",
        "z": "565a9bae.1467cc",
        "name": "Prepare query",
        "func": "\nmsg.payload = {\n    'echo_message': \"hello world\",\n    'cpu_blocking_time': 10\n};\n \nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nmsg.url = \"http://echows.o9eslaai.apivalley.org/echows\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "8b6b0fe2.458c8"
            ]
        ]
    },
    {
        "id": "cff0b3a9.0666c",
        "type": "function",
        "z": "565a9bae.1467cc",
        "name": "Validate response",
        "func": "msg.result = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 100,
        "wires": [
            []
        ]
    }
]
