flows/NodeRedBasicService.json
[{"id":"2d726eba.3b4f2a","type":"http response","z":"fc2bac29.50e3b","name":"","statusCode":"200","headers":{},"x":900,"y":60,"wires":[]},{"id":"e48cc9ee.cc4878","type":"function","z":"fc2bac29.50e3b","name":"Compute function","func":"msg.payload.sin = Math.sin(msg.payload.q);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":60,"wires":[["2d726eba.3b4f2a"]]},{"id":"425e3e05.464f28","type":"http in","z":"fc2bac29.50e3b","name":"","url":"/sinus","method":"get","upload":false,"swaggerDoc":"","x":460,"y":60,"wires":[["e48cc9ee.cc4878"]]}]
