flows/NodeRedBasicService.json
[
    {
        "id": "f403c088.72fff8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e74a60ae.324418",
        "type": "http response",
        "z": "f403c088.72fff8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1060,
        "y": 140,
        "wires": []
    },
    {
        "id": "454d731b.71fdf4",
        "type": "function",
        "z": "f403c088.72fff8",
        "name": "extract function",
        "func": "msg.af_cpu_blocking_time = msg.payload.cpu_blocking_time ;\nmsg.payload.cpu_blocking_time = undefined ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "983e3d65.e5742"
            ]
        ]
    },
    {
        "id": "929797da.8a1928",
        "type": "http in",
        "z": "f403c088.72fff8",
        "name": "",
        "url": "/echows",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "454d731b.71fdf4",
                "dfb3bee3.58cdd8"
            ]
        ]
    },
    {
        "id": "dfb3bee3.58cdd8",
        "type": "debug",
        "z": "f403c088.72fff8",
        "name": "echows value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "1ded99be.6ab406",
        "type": "apiflows metric",
        "z": "f403c088.72fff8",
        "name": "echowscomputed",
        "metric_type": "COUNTER",
        "value": "1",
        "buckets": "true",
        "percentiles": "true",
        "x": 830,
        "y": 140,
        "wires": [
            [
                "e74a60ae.324418"
            ]
        ]
    },
    {
        "id": "983e3d65.e5742",
        "type": "apiflows cpu loader",
        "z": "f403c088.72fff8",
        "name": "cpu loader",
        "blocking_time": "10",
        "x": 590,
        "y": 140,
        "wires": [
            [
                "1ded99be.6ab406"
            ]
        ]
    }
]
